@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>IRCI is an Indonesia regional database which was designed and set up to index all the bibliography records
    <br />and the citations of all quality Indonesia research outputs appeared in the Indonesia scholarly journals.</p>
