@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="card card-container" style="max-width:450px;">
        <p class="form-title">IRCI<a style="color: #00acff;font-size: 20px;font-weight: 100;"> Login</a></p>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="#" method="POST">
            <input type="text" id="keyword" name="ID" class="form-control" placeholder="Researcher ID" required autofocus>
            <input type="text" id="keyword" name="Password" class="form-control" placeholder="Password" required autofocus>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"><span class="glyphicon glyphicon-user"></span> Login</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->